$border-radius: 8px;

//colors
$gold-color: #ca9c3f;
$general-black: #010e28;
$grey-color: #63708a;
$grey-light: #c1cde6;
$blue-color: #3bbbe9;
$border-color-light: #e1e6f0;

// breakpoints

$bk992: 992px;
$bk768: 768px;
$bk576: 576px;
